/* remove built-in styling */

html, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.4;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* general style */


img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-family: Chonburi, serif;
  color: #494444;
  font-size: 4vw;
}

h2 {
  font-family: Dosis, sans-serif;
  color: #494444;
  font-weight: 300;
  font-size: 2vw;
  line-height: 1.8;
}

h3 {
  font-family: Dosis, sans-serif;
  color: #494444;
  font-weight: 300;
  font-size: 2vw;
  line-height: 1.8;
  margin-top: 3vw;
}



video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-control {
  display: none !important;
}

video {
  width: 100vw;
  position: fixed;
  z-index: -2;
}

/* navigation */

#navigation {
  height: 60px;
  width: 100vw;
  position: fixed;
  z-index: +5;
}

#color {
  height: 60px;
  width: 100vw;
  position: fixed;
  background-color: #494444;
}

#logo {
  position: fixed;
  height: 30px;
  top: 15px;
  left: 10px;
}

.navigation {
  position: fixed;
  font-family: Dosis, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  top: 19px;
}

.navigation:hover {
  color: #a1b7ab;
}

#contact {
  right: 15px;
}

#news {
  right: 110px;
}

#products {
  right: 183px;
  color: #a1b7ab;
}

/* new products */

h1 {
  font-family: Chonburi, serif;
  color: #494444;
  font-size: 4vw;
}

h2 {
  font-family: Dosis, sans-serif;
  color: #494444;
  font-weight: 300;
  font-size: 2vw;
  line-height: 1.8;
}

h3 {
  font-family: Dosis, sans-serif;
  color: #494444;
  font-weight: 300;
  font-size: 1.3vw;;
  line-height: 1.8;
}


.features {
  position: absolute;
  line-height: 1.2;
  font-family: Chonburi, serif;
  color: #494444;
}


#section3 {
  position: relative;
  top: 60px;
}

#image3 {
  width: 100vw;
}

#feature3 {
  top: 12vw;
  left: 53vw;
  font-size: 4vw;
  text-align: left;
}

#feature3 :hover {
  color: #527c64;
}

/* menu general layout */

#menu {
  top: 120px;
  position: relative;
  padding: 4px;
  padding-right: 0 auto;
}


.menu {
  width: 250px;
  height: 290px;
  position: relative;
  display: inline-block;
  margin: 2px;
  margin-bottom: 40px;
}

.menuimage {
  position: absolute;
  top: 0 auto;
  left: 0 auto;
}

h4 {
  text-align: center;
  font-family: Chonburi, serif;
  color: #494444;
  font-size: 18px;
  position: absolute;
  top: 270px;
  width: 250px;
}

h4:hover {
  color: #527c64;
}

/* image links */

#napolitain {
  background-image: url("menu/napolitain.jpg");
  background-repeat: no-repeat;
}

#napolitain:hover {
  background-image: url("menu/napolitain.gif");
}

#mini {
  background-image: url("menu/mini.jpg");
  background-repeat: no-repeat;
}

#mini:hover {
  background-image: url("menu/mini.gif");
}

#bar {
  background-image: url("menu/bar.jpg");
  background-repeat: no-repeat;
}

#bar:hover {
  background-image: url("menu/bar.gif");
}

#santos {
  background-image: url("menu/santos.jpg");
  background-repeat: no-repeat;
}

#santos:hover {
  background-image: url("menu/santos.gif");
}

#fruit {
  background-image: url("menu/fruit.jpg");
  background-repeat: no-repeat;
}

#fruit:hover {
  background-image: url("menu/fruit.gif");
}

#egg {
  background-image: url("menu/egg.jpg");
  background-repeat: no-repeat;
}

#egg:hover {
  background-image: url("menu/egg.gif");
}

/* screen width */

@media screen and (min-width: 1030px){

#menu {
  width: 1030px;
  margin-left: 50vw;
  left: -525px;
}
}

@media screen and (max-width: 1029px){

#menu {
  width: 772px;
  margin-left: 50vw;
  left: -396px;
}
}

@media screen and (max-width: 771px){

#menu {
  width: 512px;
  margin-left: 50vw;
  left: -266px;
}
}

@media screen and (max-width: 511px){

#menu {
  padding: 0 auto;
  margin-left: 0;
  left: -10px;

}

.menu {
  width: 100vw;
  height: 300px;
  margin: 0 auto;
  left: 0 auto;
}

}
